<div class="container">
  <div id="card" [ngStyle]="setMyStyle()">
    <p class="hp">
      <span>HP</span>
      {{hp}}
    </p>
    <img src={{imgSrc}} />
    <h2 class="poke-name">{{pokemonName}}</h2>
    <div class="types">
      <span *ngFor = "let item of types" [ngStyle]="getStyle()">{{item.type.name}}</span>
    </div>
    <div class="stats">
      <div>
        <h3>{{statAttack}}</h3>
        <p>Attack</p>
      </div>
      <div>
        <h3>{{statDefense}}</h3>
        <p>Defense</p>
      </div>
      <div>
        <h3>{{statSpeed}}</h3>
        <p>Speed</p>
      </div>
    </div>
  </div>
  <button id="btn" (click)="getNextPokemon()">Generate</button>
</div>